
@{
    ViewBag.Title = "Index";
}

<h2>Dice Results</h2>

<div id="content" ng-controller="DiceController">
    <span ng-show="isViewLoading" class="viewLoading">
        <img src="~/Content/images/ng-loader.gif" /> loading...
    </span>
    <div ng-class="result">{{message}}</div>
    <hr />
    @*<form name="frmDice" novalidate>
        <div>
            <input type="hidden" ng-model="diceModel.Id" name="cid" />
        </div>
        <div>
            <label for="email">Customer Name</label>
            <input type="text" ng-model="diceModel.CustName" name="cname" placeholder="" required ng-minlength="4" ng-maxlength="14" />
            <span class="error" ng-show="(frmDice.$dirty||submitted) && frmDice.cname.$error.required">Customer name is Required</span>
            <span class="error" ng-show="frmDice.$dirty && frmDice.cname.$error.minlength">Minimum length required is 5</span>
            <span class="error" ng-show="frmDice.$dirty && frmDice.cname.$error.maxlength">Minimum length required is 15</span>
        </div>
        <div>
            <label for="email">E-mail address</label>
            <input type="email" ng-model="diceModel.CustEmail" name="email" placeholder="" required />
            <span class="error" ng-show="(frmDice.$dirty ||submitted) && frmDice.email.$error.required">EmailId is Required!</span>
            <span class="error" ng-show="(frmDice.$dirty ||submitted) && frmDice.$error.email">Invalid EmailId!</span>
        </div>
        <div class="btn">
            <input type="submit" value="Save" ng-click="saveCustomer()" ng-disabled="frmDice.$invalid">
            <input type="submit" value="Update" ng-click="updateCustomer()" ng-disabled="frmDice.$invalid">
        </div>
    </form>*@
    <hr />

    <h2>All Dice</h2>
    <table class="table table-striped">
        <tr ng-repeat="diceModel in ListDice">
            <td>{{diceModel.Id}}</td>
            <td>{{diceModel.CurrentRollValue}}</td>
            <td>{{diceModel.MaxValue}}</td>
            <td>
                @*<a href="#" ng-click="getCustomer(diceModel)" title="Edit Record">
                    <img src="~/Content/images/edit.png" />
                </a><a href="#" ng-click="deleteCustomer(diceModel)" title="Delete Record">
                    <img src="~/Content/images/erase.png" />
                </a>*@
            </td>
        </tr>
    </table>
    <br />
    <span>{{getTotal()}}</span>
    <br />
    <form novalidate name="myForm">
        <button class="btn btn-primary" ng-click="rollDice()" ng-disabled="myForm.$invalid">Roll Dice</button>
        <input name="maxVal" type="text" ng-model="maxValue" required />
        <span>{{errorMessage}}</span>
    </form>
</div>

@section JavaScript{
    <script src="~/Scripts/angular.js"></script>
    <script src="~/ScriptsNg/DiceController.js"></script>
}
