@model IEnumerable<DiceRollerModels.Dice>

@{
    ViewBag.Title = "Dice Roller";
}

<h2>Results of Rolling Dice</h2>

<p>
  
</p>
<table class="table">
    <tr>
     
        <th>
            @Html.DisplayNameFor(model => model.CurrentRollValue)
            Dice Roll Value 
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        
        <td>
            @Html.DisplayFor(modelItem => item.CurrentRollValue)
        </td>
        <td>

        </td>
    </tr>
}

</table>
